/* The side navigation menu */
.sidebar {
  border-radius: 15px;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  height: 500px;
  font-family: Helvetica, sans-serif;

}
  
.sidebar a {
  border-radius: 5px;
  display: block;
  color: black;
  padding: 16px 20px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #1a1a1ab6;
  color: white;
}
  

.sidebar a:hover:not(.active) {
  background-color: rgb(46, 33, 33);
  color: white;
}
  

div.content {
  margin-left: 250px;
  margin-right: 20px;
  padding: 16px 16px;
  height: 1100px;
}



/* Body */

body {
  margin: 50px;
  background-color: darkgrey;
  background-image: url("images/main/background.jpg");
}

.content {
  border-radius: 50px;
  background-color: #f1f1f1;
  padding: 50px;
  font-family: Helvetica, sans-serif;
}


.welcome {
  size: 200%;
  text-align: center;

}


.logo {
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/* Gallery */

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
  width: 100%;
  height: auto;
  }
  
  div.desc {
    padding: 20px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
    width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .beautiful {
    padding: 15px;
  }

  .image {
    margin: 25px;
  }


  /* Contact form*/
/*  
input[type=text], select, textarea {
  width: 100%; 
  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  padding: 16px;
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #4d0000;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #a04545;
}


.container {
  border-radius: 12px;
  background-color: #f2f2f2;
  padding: 20px;
} */